PRIVATE_KEY=""
RPC_POLYGON=""
RPC_RINKEBY=""

GRAPH_POLYGON="https://api.thegraph.com/subgraphs/name/zestymarket/zesty-market-graph-matic"
GRAPH_RINKEBY="https://api.thegraph.com/subgraphs/name/zestymarket/zesty-market-graph-rinkeby"
BUYER_CAMPAIGN_ID=""
BIDDING_AMOUNT=8930150
POLYGON_CONTRACT_ADDRESS="0x8645A4D5fB4816EDec2ae4B1B822B11260830043"